@model IEnumerable<QuizzApp.Data.Entities.Question>

@{
    ViewData["Title"] = "ListQuestions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var id = TempData["id"];
}

    <h1 style="padding-left: 5%">ListQuestions</h1>
<br />

<div style="margin-left:3%">
      <a asp-action="CreateNew" asp-controller="Options" asp-area="Admin" asp-route-id="@id" class="btn btn-outline-primary" type="button">Create</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMultiple)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            
        <tr>
            <td><i id="id2" hidden="hidden">@item.Id</i></td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMultiple)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                <a asp-controller="Questions" asp-area="UserArea" asp-action="EditQuestions" asp-route-id="@item.Id">Edit</a> |
                <a onclick="deleteConfirm()">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>