@using Models.Account
@model UserViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<body >

     @if (TempData["message"] != null)
    {
        ViewBag.Message = TempData["message"];
    }
    else if(TempData["error"] != null){
        ViewBag.Message = TempData["error"];
    }
    @Html.Partial("_message")

    <div class="container-fluid px-4">
        <h1 class="mt-4" style="text-align:center">Account Details</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"></li>
        </ol>
      <form method="post" asp-action="Update" asp-controller="Account" enctype="multipart/form-data">
            <div class="col-md-2" style="margin: auto; ">
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>
                    <dd class = "col-sm-12">
                        <input name="location" value="@Html.DisplayFor(model => model.Location)"/>
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>
                    <dd class = "col-sm-12">
                        @if (Model.Image.Any() && Model.Extend != null)
                        {
                           <img src="@Url.Action("RetriveImg","Account",new {id = Model.Id})" style="width:130px ; height:150px ; border-radius:50%"/>
                        }
                        else
                        {
                            <img class="rounded-circle mt-5" src="~/assets//alex4.jpg" alt="100x100" width=250 height=250>
                        }
                    </dd>
                    <input asp-for ="ImagePath" type="file"/>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class = "col-sm-12">
                        <input name="username" value ="@Html.DisplayFor(model => model.UserName)"/>
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class = "col-sm-12">
                        <input name="email" value="@Html.DisplayFor(model => model.Email)"/>
                    </dd>
       
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class = "col-sm-12">
                        <input name="phonenumber" value="@Html.DisplayFor(model => model.PhoneNumber)"/>
                    </dd>
                </dl>
                     <button type="submit" class ="btn-primary">Save</button>
                     <button asp-action="Privacy" asp-controller="Home" asp-area ="default" class="btn-warning">Cancle</button>
            </div>
            </form>
            <br />
    </div> 
</body>
