@model IEnumerable<QuizzApp.VModels.Answers.AnswerVModel>

@{
    ViewData["Title"] = "ShowAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">ShowAnswer</h1>


<table class="table" style="text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                Course
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summited)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question.QuestionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnswerText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (item.Course != null)
                    {
                        @Html.DisplayFor(modelItem => item.Course.CourseName)
                        ;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summited)
                </td>
            </tr>
        }
    </tbody>
</table>
