@using QuizzApp.Data.Entities
@model IEnumerable<Course>


<main>
    @if (TempData["message"] != null)
    {
        ViewBag.Message = TempData["message"];
    }
    else if(TempData["error"] != null){
        ViewBag.Message = TempData["error"];
    }
    @Html.Partial("_message")

    <div class="container-fluid px-4">
        <h1 class="mt-4">Course</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"></li>
        </ol>
        <p>
            <a type="button" class="btn btn-success" asp-action="Create">Create New</a>
        </p>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List course
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                Course Name
                            </th>
                            <th>
                                Created Time
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        <th>
                        </th>
                            <th>
                                Course Name
                            </th><th>
                                Created Time
                            </th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <i id="id" hidden="hidden">@item.Id</i>
                                </td>
                                <td>@item.CourseName</td>
                                <td>@item.CreatedTime</td>
                                <td>
                                    <a type="button" class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-outline-danger" id="@item.Id" onclick="deleteConfirmCourse(this)">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>